@import url(./font/font.css);


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'NeueHaasGrotTextRound';
}

.main-container{
    height: 100vh;
    background-color: var(--first-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    height: 45rem;
    width: 25rem;
    background-color: var(--second-background-color);
    color: var(--first-text-color);
    border-radius: 5%;
    justify-content: center;
}

/* light mode */
.calc__mode-container{
    display: flex;
    align-self: center; 
    justify-content: center;
}
.calc__mode{
    display: flex; 
    background-color: var(--fourth-background-color);
    border-radius: 10px;
    align-self: center;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

.calc__light-mode, .calc__dark-mode{
    padding: 0 1rem;
    width: 5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* history calculator container */

.calc__calc{
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   flex-direction: column;
}

.calc__history{
   
    padding:2rem 1rem;
    font-size: 1.5rem;
}

.calc__current{ 
    padding: 0 1rem 2rem 0;
    font-size: 2.5rem;
    min-height: 5rem;
    font-weight: bold;
    max-width: 100%;
}
.calc__pa{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* CALC BUTTON CONTAINER */

.calc__button-container{
    background-color: var(--fourth-background-color) ;
    margin: 0;
    pad: 0;
    border-radius: 5%;
}

.calc__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-count: 2;
    
}

.calc__button{
    min-height: 4rem;
    min-width: 4rem;
    background-color: var(--third-background-color);
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* border: none; */
    color: var(--first-text-color);
    cursor: pointer;
}



.green-col{
    color:var(--second-text-color) ;
}
.pink-col{
    color: var(--third-text-color);
}
.light-mode, .dark-mode{
/* filter: brightness(0.8) */
color: var(--lightmode-text-color);
}
.light-mode:hover,.dark-mode:hover,.active{
color: var(--lightmode_active-text-color);
}

/* LIGHT MODE */

@media (max-width : 576px )
{
.calc{
    height: 22.5rem;
    width: 17.5rem;
}
.calc__button{
    min-height: 2rem;
    min-width: 2rem; 
}
.calc__current{
    font-size: 1.5rem;
    padding: 0 1rem 0rem 0;
    min-height: 4rem;
}
.calc__history{
    font-size: 1rem;
    padding:.5rem 1rem;

}

}

