@font-face {
  font-family: '';
  src: ,
       ,
       ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGrotTextRound';
  src: url('NeueHaasGrotTextRound-65Medium-Web.woff.eot');
  src: url('NeueHaasGrotTextRound-65Medium-Web.woff.eot?#iefix') format('embedded-opentype'),
       url('NeueHaasGrotTextRound-65Medium-Web.woff.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

